@page
@model webapp.Pages.Records.DetailsModel

@{
    ViewData["PageTitle"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Record</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.IsDone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.IsDone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Record?.RecordId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
