<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="languageSelector" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-language"></i> @Thread.CurrentThread.CurrentUICulture.Name
        </a>
        <div class="dropdown-menu" aria-labelledby="languageSelector">
            <form class="form-inline" asp-page="/Language" asp-route-newCulture="en-US">
                <button type="submit" class="dropdown-item">@Localizer["English"]</button>
            </form>
            <form class="form-inline" asp-page="/Language" asp-route-newCulture="fr-FR">
                <button type="submit" class="dropdown-item">@Localizer["French"]</button>
            </form>
        </div>
    </li>
</ul>

<script>
    let culture = "@Thread.CurrentThread.CurrentUICulture.Name";
    let currency = "@Localizer["Currency"]";

    // Set the culture for the ASP.NET Core controls
    ej.base.setCulture(culture);
    ej.base.setCurrencyCode(currency);

    /* Load the json culture files */
    
    var ajax = new ej.base.Ajax(location.origin + "/locale/" + culture + "/culture.json", "GET", false);
    ajax.send().then((args) => ej.base.L10n.load(JSON.parse(args)));

    let cultureFiles = ["ca-generic.json", "ca-gregorian.json", "dateFields.json", "timeZoneNames.json"];
    cultureFiles.forEach((file) => {
        var ajax = new ej.base.Ajax(location.origin + "/locale/" + culture + "/" + file, "GET", false);
        ajax.send().then((args) => ej.base.loadCldr(JSON.parse(args)));
    });
</script>
