<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="languageSelector" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-language"></i> @Thread.CurrentThread.CurrentUICulture.Name
        </a>
        <div class="dropdown-menu" aria-labelledby="languageSelector">
            <form class="form-inline" asp-page="/Language" asp-route-newCulture="en-US">
                <button type="submit" class="dropdown-item">@Localizer["English"]</button>
            </form>
            <form class="form-inline" asp-page="/Language" asp-route-newCulture="fr-FR">
                <button type="submit" class="dropdown-item">@Localizer["French"]</button>
            </form>
        </div>
    </li>
</ul>

<script>
    let culture = "@Thread.CurrentThread.CurrentUICulture.Parent";
    let currency = "@Localizer["Currency"]";

    ej.base.setCurrencyCode(currency);
    ej.base.setCulture(culture);

    let ajaxL10n = new ej.base.Ajax(location.origin + "/locale/" + culture + ".json", "GET", false);
    ajaxL10n.send().then((result) => ej.base.L10n.load(JSON.parse(result)));

    let cultureFiles = ["ca-gregorian.json", "currencies.json", "dateFields.json", "numbers.json", "timeZoneNames.json", "units.json"];
    cultureFiles.forEach((file) => {
        let ajaxCldr = new ej.base.Ajax(location.origin + "/locale/cldr-data/main/" + culture + "/" + file, "GET", false);
        ajaxCldr.send().then((result) => ej.base.loadCldr(JSON.parse(result)));
    });
</script>
