<ul class="navbar-nav">
    <li class="nav-item dropdown">
        @if (SignInManager.IsSignedIn(User)) {
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @Localizer["My account"]
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" asp-page="/Account/Settings/Index">
                    @Localizer["Settings"]
                </a>
                <form class="form-inline" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index")">
                    <button type="submit" class="dropdown-item">@Localizer["Logout"]</button>
                </form>
            </div>
        } else {
            <a class="nav-link" asp-page="/Account/Login">
                @Localizer["Login"]
            </a>
        }
    </li>
</ul>
