@page "{handler?}"
@model IndexModel
@using Syncfusion.EJ2.Calendars;
@using Syncfusion.EJ2.DropDowns;
@using Syncfusion.EJ2.Inputs;
@{
    ViewData["PageTitle"] = Localizer["Categories"];

    var toolbarItems = new string[] {
        "Add", "Edit", "Delete", "ExcelExport", "Search"
    };
    var commands = new List<object>() {
        new { type = "Edit", buttonOption = new { iconCss = "e-icons e-edit", cssClass = "e-flat" }},
        new { type = "Delete", buttonOption = new { iconCss = "e-icons e-delete", cssClass = "e-flat" }},
    };
    var filterSettings = new {
        stringOperator = new List<object>() {
            new { value = "contains", text = Localizer["Contains"].Value },
            new { value = "startsWith", text = Localizer["Starts with"].Value },
            new { value = "endsWith", text = Localizer["Ends with"].Value },
            new { value = "equal", text = Localizer["Equal"].Value },
            new { value = "isempty", text = Localizer["Empty"].Value },
            new { value = "doesnotcontain", text = Localizer["Does not contain"].Value },
            new { value = "doesnotstartwith", text = Localizer["Does not start with"].Value },
            new { value = "doesnotendwith", text = Localizer["Does not end with"].Value },
            new { value = "notequal", text = Localizer["Not equal"].Value },
            new { value = "isnotempty", text = Localizer["Not empty"].Value },
            new { value = "wildcard", text = Localizer["Like"].Value },
        }
    };
    var searchSettings = new string[] { "Name" };
    var validationRules = new { required = true };

    var iconParams = new List<object>() {
        // Money
        new { Category = Localizer["Money"].Value, Icon = "💰" },
        new { Category = Localizer["Money"].Value, Icon = "💸" },
        new { Category = Localizer["Money"].Value, Icon = "💳" },
        new { Category = Localizer["Money"].Value, Icon = "💶" },
        new { Category = Localizer["Money"].Value, Icon = "💵" },
        new { Category = Localizer["Money"].Value, Icon = "💲" },
        new { Category = Localizer["Money"].Value, Icon = "🏛️" },
        new { Category = Localizer["Money"].Value, Icon = "🤑" },
        // Food
        new { Category = Localizer["Food"].Value, Icon = "🍔" },
        new { Category = Localizer["Food"].Value, Icon = "🍕" },
        new { Category = Localizer["Food"].Value, Icon = "🥪" },
        new { Category = Localizer["Food"].Value, Icon = "🥩" },
        new { Category = Localizer["Food"].Value, Icon = "🥐" },
        new { Category = Localizer["Food"].Value, Icon = "🍩" },
        new { Category = Localizer["Food"].Value, Icon = "🍌" },
        // Energy
        new { Category = Localizer["Energy"].Value, Icon = "💡" },
        new { Category = Localizer["Energy"].Value, Icon = "⚡" },
        new { Category = Localizer["Energy"].Value, Icon = "🔥" },
        new { Category = Localizer["Energy"].Value, Icon = "💧" },
        new { Category = Localizer["Energy"].Value, Icon = "🌿" },
        new { Category = Localizer["Energy"].Value, Icon = "☀️" },
        new { Category = Localizer["Energy"].Value, Icon = "♻" },
        new { Category = Localizer["Energy"].Value, Icon = "⛽" },
        // Shopping
        new { Category = Localizer["Shopping"].Value, Icon = "🧾" },
        new { Category = Localizer["Shopping"].Value, Icon = "🏷️" },
        new { Category = Localizer["Shopping"].Value, Icon = "🧺" },
        new { Category = Localizer["Shopping"].Value, Icon = "🛒" },
        new { Category = Localizer["Shopping"].Value, Icon = "🛍️" },
        new { Category = Localizer["Shopping"].Value, Icon = "📦" },
        // Transport
        new { Category = Localizer["Transport"].Value, Icon = "🚗" },
        new { Category = Localizer["Transport"].Value, Icon = "🏍️" },
        new { Category = Localizer["Transport"].Value, Icon = "🚌" },
        new { Category = Localizer["Transport"].Value, Icon = "🚕" },
        new { Category = Localizer["Transport"].Value, Icon = "🏎️" },
        new { Category = Localizer["Transport"].Value, Icon = "🚲" },
        // Health
        new { Category = Localizer["Health"].Value, Icon = "❤️" },
        new { Category = Localizer["Health"].Value, Icon = "🧠" },
        new { Category = Localizer["Health"].Value, Icon = "💉" },
        new { Category = Localizer["Health"].Value, Icon = "💊" },
        new { Category = Localizer["Health"].Value, Icon = "🔬" },
        new { Category = Localizer["Health"].Value, Icon = "🏥" },
        new { Category = Localizer["Health"].Value, Icon = "🤒" },
        new { Category = Localizer["Health"].Value, Icon = "🤕" },
        // Travel
        new { Category = Localizer["Travel"].Value, Icon = "🧳" },
        new { Category = Localizer["Travel"].Value, Icon = "⛱️" },
        new { Category = Localizer["Travel"].Value, Icon = "🗻" },
        new { Category = Localizer["Travel"].Value, Icon = "🏕" },
        new { Category = Localizer["Travel"].Value, Icon = "🗺️" },
        new { Category = Localizer["Travel"].Value, Icon = "🏄" },
        // Pleasure
        new { Category = Localizer["Pleasure"].Value, Icon = "⚽" },
        new { Category = Localizer["Pleasure"].Value, Icon = "🎸" },
        new { Category = Localizer["Pleasure"].Value, Icon = "🎥" },
        new { Category = Localizer["Pleasure"].Value, Icon = "🍿" },
        new { Category = Localizer["Pleasure"].Value, Icon = "🎳" },
        new { Category = Localizer["Pleasure"].Value, Icon = "🎢" },
        new { Category = Localizer["Pleasure"].Value, Icon = "😎" },
        // Happening
        new { Category = Localizer["Happening"].Value, Icon = "🎂" },
        new { Category = Localizer["Happening"].Value, Icon = "🎁" },
        new { Category = Localizer["Happening"].Value, Icon = "🎉" },
        new { Category = Localizer["Happening"].Value, Icon = "🍾" },
        new { Category = Localizer["Happening"].Value, Icon = "🥳" },
        // Technology
        new { Category = Localizer["Technology"].Value, Icon = "📺" },
        new { Category = Localizer["Technology"].Value, Icon = "📱" },
        new { Category = Localizer["Technology"].Value, Icon = "💻" },
        new { Category = Localizer["Technology"].Value, Icon = "🕹️" },
        new { Category = Localizer["Technology"].Value, Icon = "🎮" },
        new { Category = Localizer["Technology"].Value, Icon = "💾" },
        // Sport
        new { Category = Localizer["Sport"].Value, Icon = "🎾" },
        new { Category = Localizer["Sport"].Value, Icon = "🏐" },
        new { Category = Localizer["Sport"].Value, Icon = "🏆" },
        new { Category = Localizer["Sport"].Value, Icon = "🏅" },
        new { Category = Localizer["Sport"].Value, Icon = "🥅" },
        new { Category = Localizer["Sport"].Value, Icon = "🏟️" },
        new { Category = Localizer["Sport"].Value, Icon = "💪" },
        new { Category = Localizer["Sport"].Value, Icon = "⛹️" },
        new { Category = Localizer["Sport"].Value, Icon = "🏋️" },
        // House
        new { Category = Localizer["House"].Value, Icon = "🔨" },
        new { Category = Localizer["House"].Value, Icon = "🔧" },
        new { Category = Localizer["House"].Value, Icon = "🔑" },
        new { Category = Localizer["House"].Value, Icon = "🌱" },
        new { Category = Localizer["House"].Value, Icon = "🛏️" },
        new { Category = Localizer["House"].Value, Icon = "🏡" },
        new { Category = Localizer["House"].Value, Icon = "👪" },
        new { Category = Localizer["House"].Value, Icon = "🐶" },
        // Office
        new { Category = Localizer["Office"].Value, Icon = "💼" },
        new { Category = Localizer["Office"].Value, Icon = "📖" },
        new { Category = Localizer["Office"].Value, Icon = "📃" },
        new { Category = Localizer["Office"].Value, Icon = "📚" },
        new { Category = Localizer["Office"].Value, Icon = "🖊️" },
        new { Category = Localizer["Office"].Value, Icon = "📨" },
        new { Category = Localizer["Office"].Value, Icon = "🏢" },
        new { Category = Localizer["Office"].Value, Icon = "👨‍💼" },
        // School
        new { Category = Localizer["School"].Value, Icon = "📒" },
        new { Category = Localizer["School"].Value, Icon = "🎒" },
        new { Category = Localizer["School"].Value, Icon = "🎓" },
        new { Category = Localizer["School"].Value, Icon = "🏫" },
        new { Category = Localizer["School"].Value, Icon = "🧑‍🏫" },
        // Positive
        new { Category = Localizer["Positive"].Value, Icon = "💕" },
        new { Category = Localizer["Positive"].Value, Icon = "⭐" },
        new { Category = Localizer["Positive"].Value, Icon = "✨" },
        new { Category = Localizer["Positive"].Value, Icon = "🌈" },
        new { Category = Localizer["Positive"].Value, Icon = "🎈" },
        new { Category = Localizer["Positive"].Value, Icon = "📣" },
        new { Category = Localizer["Positive"].Value, Icon = "😊" },
        // Negative
        new { Category = Localizer["Negative"].Value, Icon = "💣" },
        new { Category = Localizer["Negative"].Value, Icon = "💥" },
        new { Category = Localizer["Negative"].Value, Icon = "⚠️" },
        new { Category = Localizer["Negative"].Value, Icon = "⛔" },
        new { Category = Localizer["Negative"].Value, Icon = "❗" },
        new { Category = Localizer["Negative"].Value, Icon = "💀" },
        new { Category = Localizer["Negative"].Value, Icon = "🤯" },
        // Other
        new { Category = Localizer["Other"].Value, Icon = "✔️" },
        new { Category = Localizer["Other"].Value, Icon = "❌" },
        new { Category = Localizer["Other"].Value, Icon = "➕" },
        new { Category = Localizer["Other"].Value, Icon = "➖" },
        new { Category = Localizer["Other"].Value, Icon = "🔗" },
        new { Category = Localizer["Other"].Value, Icon = "🔒" },
    };
    var iconEdit = new DropDownList() {
        DataSource = iconParams,
        Query = "new ej.data.Query()",
        Fields = new DropDownListFieldSettings() { Value = "Icon", Text = "Icon", GroupBy = "Category" },
    };
}
@Html.AntiForgeryToken()

<div class="text-center">

    <ejs-breadcrumb id="breadcrumb" cssClass="p-4" enableNavigation="true" maxItems="3" overflowMode="Menu">
        <e-breadcrumb-items>
            <e-breadcrumb-item iconCss="e-icons e-home" url="/"></e-breadcrumb-item>
            <e-breadcrumb-item text="@Localizer["Categories"].Value" url="/Categories"></e-breadcrumb-item>
        </e-breadcrumb-items>
    </ejs-breadcrumb>

    <ejs-grid id="grid" load="onLoad" dataBound="dataBound" actionComplete="actionComplete" allowPaging="true" allowSorting="true" allowFiltering="true" enableStickyHeader="true" allowExcelExport="true" excelExportComplete="excelExportComplete" toolbarClick="toolbarClick" toolbar="toolbarItems" width="100%" height="100%">
        <e-data-manager url="/Categories/DataSource" crudUrl="/Categories/CrudUpdate" adaptor="UrlAdaptor"></e-data-manager>
        <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog" showConfirmDialog="true" showDeleteConfirmDialog="true"></e-grid-editSettings>
        <e-grid-pagesettings pageSize="20"></e-grid-pagesettings>
        <e-grid-filtersettings operators="filterSettings" enableCaseSensitivity="false" ignoreAccent="false" type="Menu"></e-grid-filtersettings>
        <e-grid-searchSettings fields="searchSettings" operator="contains" ignoreCase="true"></e-grid-searchSettings>
        <e-grid-loadingIndicator indicatorType="Shimmer"></e-grid-loadingIndicator>
        <e-grid-columns>
            <e-grid-column field="Id" headerText="@Localizer["Id"].Value" isPrimaryKey="true" visible="false"></e-grid-column>
            <e-grid-column field="Icon" headerText="@Localizer["Icon"].Value" editType="dropdownedit" edit="new { @@params = iconEdit }" validationRules="validationRules" allowFiltering="false" width="50"></e-grid-column>
            <e-grid-column field="Name" headerText="@Localizer["Name"].Value" editType="textboxedit" validationRules="validationRules" minWidth="120" width="140"></e-grid-column>
            <e-grid-column headerText="@Localizer["Commands"].Value" commands="commands" textAlign="Right" width="120"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>

</div>

<script>
    function onLoad() {
        this.dataSource.dataSource.headers = [{ "XSRF-TOKEN": $("input:hidden[name='__RequestVerificationToken']").val() }];
    }

    function dataBound(args) {
        this.hideScroll();
    }

    function actionComplete(args) {
        console.log(args);
        if (args.requestType === "beginEdit" || args.requestType === "add") {
            let dialog = args.dialog;
            dialog.element.style.maxHeight = "1000px";
            dialog.header = args.requestType === "beginEdit" ? "@Localizer["Edit category"].Value" + args.rowData["Name"] : "@Localizer["Add category"].Value";
        }
        if (args.requestType === "delete") {
            if (args.data != null && args.data.length > 0) {
                let selectedCategory = args.data[0];
                fetch("/Categories/NumberOfTransactionsAssociated?id=" + selectedCategory.Id).then(function (result) { return result.json() }).then(function (data) {
                    if (data > 0) alert("@Localizer["Cancel message"].Value");
                });
            }
        }
    }

    function toolbarClick(args) {
        let gridObj = document.getElementById("grid").ej2_instances[0];
        if (args.item.id === "grid_excelexport") {
            gridObj.showSpinner();
            gridObj.excelExport();
        }
    }

    function excelExportComplete(args) {
        this.hideSpinner();
    }
</script>
