@page
@model LoginModel
@{
    ViewData["PageTitle"] = Localizer["Login"];
}

<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <form method="post">
            <div class="btn-group w-100">
                <a class="btn btn-lg btn-secondary disabled" asp-page="./Login">
                    @Localizer["Login"]
                </a>
                <a class="btn btn-lg btn-secondary" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                    @Localizer["Register"]
                </a>
            </div>
            <div class="my-4">
                <h2>@ViewData["PageTitle"]</h2>
                <hr />
            </div>
            <div>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input id="username" asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="@Localizer["Email placeholder"]" />
                    <label asp-for="Input.Email" class="form-label">@Localizer["Email"]</label>
                    <span asp-validation-for="Input.Email" class="text-danger d-block my-2"></span>
                </div>
                <div class="form-floating mb-3">
                    <input id="password" asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="@Localizer["Password placeholder"]" />
                    <label asp-for="Input.Password" class="form-label">@Localizer["Password"]</label>
                    <span asp-validation-for="Input.Password" class="text-danger d-block my-2"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Localizer["Remember me"]
                    </label>
                </div>
            </div>
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">@Localizer["Login"]</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
