<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @SettingsNavPages.IndexNavClass(ViewContext)" asp-page="./Index">@Localizer["Profile"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @SettingsNavPages.EmailNavClass(ViewContext)" asp-page="./Email">@Localizer["Email"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @SettingsNavPages.ChangePasswordNavClass(ViewContext)" asp-page="./ChangePassword">@Localizer["Password"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @SettingsNavPages.PersonalDataNavClass(ViewContext)" asp-page="./PersonalData">@Localizer["Personal data"]</a>
    </li>
</ul>
