@page
@model DeletePersonalDataModel
@{
    ViewData["IsSettingsPage"] = true;
    ViewData["PageTitle"] = Localizer["Personal data"];
    ViewData["ActivePage"] = SettingsNavPages.PersonalData;
}

<div class="container">
    <ejs-breadcrumb id="breadcrumb" cssClass="my-3" enableNavigation="true" maxItems="3" overflowMode="Menu">
        <e-breadcrumb-items>
            <e-breadcrumb-item iconCss="e-icons e-home" url="/"></e-breadcrumb-item>
            <e-breadcrumb-item text="@Localizer["Settings"].Value" url="/Account/Settings"></e-breadcrumb-item>
            <e-breadcrumb-item text="@Localizer["Personal data"].Value" url="/Account/Settings/PersonalData"></e-breadcrumb-item>
            <e-breadcrumb-item text="@Localizer["Deletion"].Value" url="/Account/Settings/DeletePersonalData"></e-breadcrumb-item>
        </e-breadcrumb-items>
    </ejs-breadcrumb>

    <div class="alert alert-warning" role="alert">
        <strong>@Localizer["Deletion warning"]</strong>
    </div>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        @if (Model.RequirePassword) {
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="@Localizer["Password placeholder"]" />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger d-block my-2"></span>
            </div>
        }
        <button class="w-100 btn btn-danger" type="submit">@Localizer["Delete data and close my account"]</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
