@page
@model webapp.Pages.DashboardModel
@{
    ViewData["PageTitle"] = "Home";
    var palettes = new string[] { "#61EFCD", "#CDDE1F", "#FEC200", "#CA765A", "#2485FA", "#F57D7D", "#C152D2", "#8854D9", "#3D4EB8", "#00BCD7", "#4472c4", "#ed7d31", "#ffc000", "#70ad47", "#5b9bd5", "#c1c1c1", "#6f6fe2", "#e269ae", "#9e480e", "#997300" };
    var cellSpacing = new double[] { 10, 10 };
}

<div class="text-center">
    <h3 class="display-4 p-2">Dashboard</h3>

    <ejs-dashboardlayout id="editableLayout1" columns="8" cellSpacing="cellSpacing" cellAspectRatio="0.8" allowDragging="false" allowResizing="false">
        <e-dashboardlayout-panels>
            <e-dashboardlayout-panel sizeX="5" sizeY="2" row="0" col="0">
                <e-content-template>
                    <div>
                        
                        @* Bar chart *@
                        <div class="e-panel-container" id="chart1">
                            <div class="e-panel-header">
                                <div class="title" id="header1">
                                    Sales - Yearly Performance
                                </div>
                            </div>
                            <div class="e-panel-content">
                                <ejs-chart id="linechart" width="100%" height="100%">
                                    <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.Category" interval=1>
                                        <e-labelstyle size="11px"></e-labelstyle>
                                        <e-majorgridlines width="0"></e-majorgridlines>
                                    </e-chart-primaryxaxis>
                                    <e-chart-primaryyaxis labelFormat="{value}%" minimum="0" maximum="100">
                                        <e-majorticklines width="0"></e-majorticklines>
                                        <e-linestyle width="0"></e-linestyle>
                                        <e-labelstyle size="11px"></e-labelstyle>
                                    </e-chart-primaryyaxis>
                                    <e-chart-chartarea>
                                        <e-chartarea-border width="0"></e-chartarea-border>
                                    </e-chart-chartarea>
                                    <e-series-collection>
                                        <e-series dataSource="Model.ColumnChartData" xName='Period' yName='OnlinePercentage' name='Online' width=2 fill="#2485FA" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Column">
                                            <e-series-marker>
                                                <e-series-datalabel visible="true" position="@Syncfusion.EJ2.Charts.LabelPosition.Middle">
                                                    <e-font color="white"></e-font>
                                                </e-series-datalabel>
                                            </e-series-marker>
                                        </e-series>
                                        <e-series dataSource="Model.ColumnChartData" xName='Period' yName='RetailPercentage' name='Retail' fill="#FEC200" width=2 type="@Syncfusion.EJ2.Charts.ChartSeriesType.Column">
                                            <e-series-marker>
                                                <e-series-datalabel visible="true" position="@Syncfusion.EJ2.Charts.LabelPosition.Middle">
                                                    <e-font color="white"></e-font>
                                                </e-series-datalabel>
                                            </e-series-marker>
                                        </e-series>
                                    </e-series-collection>
                                    <e-chart-legendsettings padding="5" shapeHeight="8" shapeWidth="8"></e-chart-legendsettings>
                                </ejs-chart>
                            </div>
                        </div>

                    </div>
                </e-content-template>
            </e-dashboardlayout-panel>

            <e-dashboardlayout-panel sizeX="3" sizeY="2" row="0" col="5">
                <e-content-template>
                    <div>

                        @* Pie chart *@
                        <div class="e-panel-container" id="chart2">
                            <div class="e-panel-header">
                                <div class="title" id="header2">Product Wise Sales - 2021</div>
                            </div>
                            <div class="e-panel-content">
                                <ejs-accumulationchart id="pie" enableAnimation="true" enableBorderOnMouseMove="false" enableSmartLabels="true" width="100%" height="100%">
                                    <e-accumulationchart-tooltipsettings enable="true" format="${point.tooltip}"></e-accumulationchart-tooltipsettings>
                                    <e-accumulationchart-legendsettings visible="false"></e-accumulationchart-legendsettings>
                                    <e-accumulation-series-collection>
                                        <e-accumulation-series tooltipMappingName="Product" dataSource="Model.PieChartData" xName="Product" yName="Percentage" innerRadius="40%" palettes="palettes">
                                            <e-accumulationseries-datalabel name="Text" visible="true" position="@Syncfusion.EJ2.Charts.AccumulationLabelPosition.Outside">
                                                <e-connectorstyle length="10px" type="@Syncfusion.EJ2.Charts.ConnectorType.Curve"></e-connectorstyle>
                                            </e-accumulationseries-datalabel>
                                            <e-accumulationseries-border width="3"></e-accumulationseries-border>
                                        </e-accumulation-series>
                                    </e-accumulation-series-collection>
                                </ejs-accumulationchart>
                            </div>
                        </div>

                    </div>
                </e-content-template>
            </e-dashboardlayout-panel>

            <e-dashboardlayout-panel sizeX="8" sizeY="3" row="4" col="0">
                <e-content-template>
                    <div>

                        @* Spline chart *@
                        <div class="e-panel-container" id="chart3">
                            <div class="e-panel-header">
                                <div class="title" id="header3">Monthly Sales for 2021</div>
                            </div>
                            <div class="e-panel-content">
                                <ejs-chart id="spline" width="100%" height="100%">
                                    <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.Category">
                                        <e-majorgridlines width="0"></e-majorgridlines>
                                        <e-majorticklines width="0"></e-majorticklines>
                                        <e-labelstyle size="11px"></e-labelstyle>
                                    </e-chart-primaryxaxis>
                                    <e-chart-primaryyaxis minimum="0" maximum="12000" labelFormat="${value}">
                                        <e-linestyle width="0"></e-linestyle>
                                        <e-majorticklines width="0"></e-majorticklines>
                                        <e-labelstyle size="11px"></e-labelstyle>
                                    </e-chart-primaryyaxis>
                                    <e-chart-tooltipsettings enable="true" shared="true" enableMarker="false"></e-chart-tooltipsettings>
                                    <e-chart-chartarea>
                                        <e-chartarea-border width="0"></e-chartarea-border>
                                    </e-chart-chartarea>
                                    <e-series-collection>
                                        <e-series dataSource="Model.SplineChartData" fill="#2485FA" name="Online" xName="Period" opacity=0.3 width=2.5 yName="OnlinePercentage" type="@Syncfusion.EJ2.Charts.ChartSeriesType.SplineArea">
                                            <e-series-border width="2.75" color="#2485FA"></e-series-border>
                                        </e-series>
                                        <e-series dataSource="Model.SplineChartData" fill="#FEC200" name="Retail" xName="Period" opacity=0.3 width=2.5 yName="RetailPercentage" type="@Syncfusion.EJ2.Charts.ChartSeriesType.SplineArea">
                                            <e-series-border width="2.75" color="#FEC200"></e-series-border>
                                        </e-series>
                                    </e-series-collection>
                                    <e-chart-legendsettings enableHighlight="true"></e-chart-legendsettings>
                                </ejs-chart>
                            </div>
                        </div>

                    </div>
                </e-content-template>
            </e-dashboardlayout-panel>
        </e-dashboardlayout-panels>

    </ejs-dashboardlayout>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var lineObj = document.getElementById('linechart').ej2_instances[0];
        var pieObj = document.getElementById('pie').ej2_instances[0];
        var splineObj = document.getElementById('spline').ej2_instances[0];
        lineObj.refresh(); pieObj.refresh(); splineObj.refresh();
    });
</script>

<style>
    .e-dashboardlayout {
        padding: 20px;
        z-index: 0;
    }

    .e-panel {
        cursor: auto !important;
    }

    .e-panel-content {
        height: calc(100% - 27px) !important;
        overflow: hidden;
        width: 100%;
    }

    .e-chart, .e-accumulationchart {
        height: inherit !important;
        width: inherit !important;
    }

    .e-panel-header {
        background: none;
        border: none !important;
        height: 50px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .template {
        height: 100%;
        width: 100%;
    }

    .ellipse[id*=_Trackball_1] {
        stroke-width: 1 !important;
    }

    .e-chart-focused:focus {
        outline: none !important;
    }

    .title {
        font-size: 15px;
        font-weight: bold;
        color: #737373;
    }
</style>
