@page "{handler?}"
@model webapp.Pages.RecordsModel
@{
    ViewData["PageTitle"] = "Records";
    var toolbarItems = new List<string>() {
        "Add", "Edit", "Delete", "Print", "ExcelExport", "PdfExport", "Search"
    };
}
@Html.AntiForgeryToken()

<ejs-grid id="Grid" load="onLoad" dataBound="dataBound" actionComplete="actionComplete" allowPaging="true" allowSorting="true" allowFiltering="true" allowPdfExport="true" allowExcelExport="true" pdfExportComplete="pdfExportComplete" excelExportComplete="excelExportComplete" toolbarClick="toolbarClick" toolbar="toolbarItems" autoFit="true">
    <e-data-manager url="RecordsTemp/DataSource" crudUrl="RecordsTemp/CrudUpdate" adaptor="UrlAdaptor"></e-data-manager>
    <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog" template="#dialogTemplate" showConfirmDialog="true" showDeleteConfirmDialog="true"></e-grid-editSettings>
    <e-grid-filtersettings type="Menu"></e-grid-filtersettings>
    <e-grid-searchSettings fields="@(new string[] { "note", "category", "status" })" operator="contains" ignoreCase="true"></e-grid-searchSettings>
    <e-grid-loadingIndicator indicatorType="Shimmer"></e-grid-loadingIndicator>
    <e-grid-pagesettings pageSize="20"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column field="recordId" headerText="Id" isPrimaryKey="true" visible="false"></e-grid-column>
        <e-grid-column field="date" headerText="Date" format="dd/MM/yyyy" validationRules="@(new { required = true })" editType="datepickeredit"></e-grid-column>
        <e-grid-column field="note" headerText="Note" validationRules="@(new { required = true })"></e-grid-column>
        <e-grid-column field="category" headerText="Category" validationRules="@(new { required = true })" editType="dropdownedit"></e-grid-column>
        <e-grid-column field="isDone" headerText="Status" template="#status" editType="booleanedit" displayAsCheckBox="true" type="boolean"></e-grid-column>
        <e-grid-column field="amount" headerText="Amount" template="#amount" validationRules="@(new { required = true })" editType="numericedit" format="C2"></e-grid-column>
    </e-grid-columns>
</ejs-grid>

<script id="status" type="text/x-template">
    ${if(isDone)}
        <span class="badge bg-success p-2">${status}</span>
    ${else}
        <span class="badge bg-danger p-2">${status}</span>
    ${/if}
</script>

<script id="amount" type="text/x-template">
    ${if(amount > 0)}
        <span class="badge bg-success p-2">${formattedAmount}</span>
    ${else}
        <span class="badge bg-danger p-2">${formattedAmount}</span>
    ${/if}
</script>

<script id="dialogTemplate" type="text/x-template">
    <div class="e-insertedrow">
        <form class="e-gridform e-lib e-formvalidator" id="GridEditForm" novalidate="">
            <table class="e-table" cellspacing="6px" role="grid">
                <tbody role="rowgroup">
                    <tr>
                        <td class="e-rowcell" style="text-align:left;width:190px">
                            <div class="e-float-input e-control-wrapper e-input-group e-date-wrapper" style="width: 100%;">
                                <input class="e-field e-control e-datepicker e-lib e-keyboard e-error" type="text" id="Griddate" name="date" e-mappinguid="grid-column1" aria-labelledby="label_Griddate" aria-atomic="true" aria-expanded="false" role="combobox" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" aria-invalid="true" aria-disabled="false" tabindex="0" value="" aria-describedby="Griddate-info" aria-required="true">
                                <span class="e-float-line"></span>
                                <label class="e-float-text e-label-top" id="label_Griddate" for="Griddate">Date</label>
                                <span class="e-clear-icon e-clear-icon-hide" aria-label="close" role="button"></span>
                                <span class="e-input-group-icon e-date-icon e-icons" aria-label="select"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="e-rowcell" style="text-align:left;width:190px">
                            <div class="e-float-input e-control-wrapper">
                                <input class="e-field e-defaultcell e-control e-textbox e-lib" type="text" value="" style="text-align:Left" id="Gridnote" name="note" e-mappinguid="grid-column2" role="textbox" aria-labelledby="label_Gridnote">
                                <span class="e-float-line"></span>
                                <label class="e-float-text e-label-top" id="label_Gridnote" for="Gridnote">Note</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="e-rowcell" style="text-align:left;width:190px">
                            <div class="e-float-input e-control-wrapper e-input-group e-ddl e-lib e-keyboard" tabindex="0" aria-label="dropdownlist" aria-disabled="false" role="combobox" aria-expanded="false" aria-live="polite" aria-labelledby="label_Gridcategory" e-mappinguid="grid-column3" style="width: 100%;">
                                <select aria-hidden="true" tabindex="-1" class="e-ddl-hidden" name="category" id="Gridcategory_hidden">
                                    <option>Salary</option>
                                    <option>Food</option>
                                    <option>Activity</option>
                                    <option>Pleasure</option>
                                    <option>Savings</option>
                                    <option>Subscription</option>
                                </select>
                                <input class="e-field e-control e-dropdownlist e-lib" type="text" id="Gridcategory" e-mappinguid="grid-column3" role="combobox" aria-expanded="false" aria-labelledby="label_Gridcategory" readonly="" style="" aria-disabled="false" tabindex="-1" name="category">
                                <span class="e-float-line"></span>
                                <label class="e-float-text e-label-top" id="label_Gridcategory" for="Gridcategory">Category</label>
                                <span class="e-input-group-icon e-ddl-icon e-search-icon"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="e-rowcell" style="text-align:left;width:190px">
                            <div class="e-checkbox-wrapper e-wrapper">
                                <label for="GridisDone">
                                    <input class="e-field e-boolcell e-control e-checkbox e-lib" type="checkbox" value="undefined" id="GridisDone" name="isDone" e-mappinguid="grid-column4">
                                    <span class="e-icons e-frame"></span>
                                    <span class="e-label">Status</span>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="e-rowcell" style="text-align:left;width:190px">
                            <div class="e-control-wrapper e-numeric e-float-input e-input-group">
                                <input class="e-field e-control e-numerictextbox e-lib" id="Gridamount" e-mappinguid="grid-column5" role="spinbutton" tabindex="0" autocomplete="off" aria-labelledby="label_Gridamount">
                                <input type="text" validatehidden="true" class="e-numeric-hidden" name="amount">
                                <span class="e-float-line"></span>
                                <label class="e-float-text e-label-top" id="label_Gridamount" for="Gridamount">Amount</label>
                                <span class="e-input-group-icon e-spin-down" title="Decrement value"></span>
                                <span class="e-input-group-icon e-spin-up" title="Increment value"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="e-tooltip-wrap e-lib e-control e-popup e-griderror" id="date_Error" style="top: 76.6562px; left: 102px; max-width: 260.903px; text-align: center;">
                <div class="e-tip-content">
                    <label class="e-error" for="date" id="date-info" style="display: block;">This field is required.</label>
                </div>
                <div class="e-arrow-tip e-tip-top">
                    <div class="e-arrow-tip-outer e-tip-top"></div>
                    <div class="e-arrow-tip-inner e-tip-top"></div>
                </div>
            </div>
        </form>
    </div>
</script>

<script id="dialogTemplate1" type="text/x-template">
    <div>
        <div id="tab0" class='tab'>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="e-float-input e-control-wrapper">
                        <input id="OrderID" required name="OrderID" type="text" value="${if(isAdd)} '' ${else} ${OrderID} ${/if}" disabled="${if(isAdd)} '' ${else} disabled ${/if}" />
                        <span class="e-float-line"></span>
                        <label class="e-float-text e-label-top" for="OrderID">Order ID</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="e-float-input e-control-wrapper">
                        <input id="CustomerID" required name="CustomerID" type="text" value="${if(isAdd)} '' ${else} ${CustomerID} ${/if}" />
                        <span class="e-float-line"></span>
                        <label class="e-float-text e-label-top" for="CustomerID">Customer ID</label>
                    </div>
                </div>
            </div>
        </div>
        <div id=tab1 style="display: none" class='tab'>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" name="ShipCountry" id="ShipCountry" value="${if(isAdd)} '' ${else} ${ShipCountry} ${/if}" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="checkbox" name="Verified" id="Verified" checked="${if(Verified)} checked ${/if}" />
                </div>
            </div>
        </div>
        <div id='footer'>
            <button id="prevBtn" class="e-info e-btn" type="button" style="display: none; float: left; margin-left: 11px;">Previous</button>

            <button id="nextBtn" class="e-info e-btn" type="button" style="float: right">Next</button>
        </div>
    </div>
</script>

<script>
    function onLoad() {
        this.dataSource.dataSource.headers = [{ 'XSRF-TOKEN': $("input:hidden[name='__RequestVerificationToken']").val() }];
    }

    function dataBound(args) {
        this.autoFitColumns();
    }

    function actionComplete(args) {
        if ((args.requestType === 'beginEdit' || args.requestType === 'add')) {
            var dialog = args.dialog;
            dialog.element.style.maxHeight = "658px";
        }
    }

    function toolbarClick(args) {
        var gridObj = document.getElementById("Grid").ej2_instances[0];
        if (args.item.id === 'Grid_pdfexport') {
            gridObj.showSpinner();
            gridObj.pdfExport();
        }
        if (args.item.id === 'Grid_excelexport') {
            gridObj.showSpinner();
            gridObj.excelExport();
        }
    }

    function pdfExportComplete(args) {
        this.hideSpinner();
    }

    function excelExportComplete(args) {
        this.hideSpinner();
    }
</script>
